
<div class="form-demo" >
    {{ form_start(formDemo, {'attr': {'class': 'form-demo'}}) }}
   {{ form_row(formDemo.email) }}
{#    <input name="email" type="email" placeholder="Votre email">#}
{#    <input class="button-form" type="submit" value="Demander une démo">#}
    {{ form_end(formDemo) }}
</div>

