{% extends 'base.html.twig' %}

{% block title %}Drivn - Toutes vos questions sur Drivn{% endblock %}

{% block body %}

    {{ include('_includes/_MainNavigation.html.twig') }}

    <section class="container-medium section-col">
        <h1>FAQ</h1>
        <div class="d-flex-column gap-40">
            <h2>Inscription au logiciel</h2>
            <div class="d-flex-column gap-15">
                <h3>Question numéro 1 ?</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est</p>
            </div>
            <div class="d-flex-column gap-15">
                <h3>Question numéro 2 ?</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est</p>
            </div>
            <div class="d-flex-column gap-15">
                <h3>Question numéro 3 ?</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est</p>
            </div>
        </div>
        <div class="d-flex-column gap-40">
            <h2>Utilisation du logiciel</h2>
            <div class="d-flex-column gap-15">
                <h3>Question numéro 1 ?</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est</p>
            </div>
            <div class="d-flex-column gap-15">
                <h3>Question numéro 2 ?</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est</p>
            </div>
            <div class="d-flex-column gap-15">
                <h3>Question numéro 3 ?</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est</p>
            </div>
        </div>
        <div class="d-flex-column gap-40">
            <h2>Le paiement et la livraison</h2>
            <div class="d-flex-column gap-15">
                <h3>Question numéro 1 ?</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est</p>
            </div>
            <div class="d-flex-column gap-15">
                <h3>Question numéro 2 ?</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est</p>
            </div>
            <div class="d-flex-column gap-15">
                <h3>Question numéro 3 ?</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est</p>
            </div>
            <div class="d-flex-column gap-15">
                <h3>Question numéro 4 ?</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est</p>
            </div>
            <div class="d-flex-column gap-15">
                <h3>Question numéro 5 ?</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est</p>
            </div>
        </div>
    </section>
    {{ include('_includes/_Footer.html.twig') }}

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/slick.min.js') }}"></script>
    <script src="{{ asset('js/carousel.js') }}"></script>
{% endblock %}
